@import "tailwindcss";

@theme {
  --color-primary: #090a0f;
  --color-gray: #262827;

  --font-inter: "Inter", sans-serif;
  --font-serif: "Instrument Serif", serif;
  --font-manrope: "Manrope", sans-serif;
}

html,
body {
  background-color: black;
}